.pricing-box {


	&--redesign {
		border: 2px solid hubl("$second_font_color");

		&.highlight {
			position: relative;
			z-index: 2;
			border-color: hubl("$first_color");
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility:    hidden;
			-ms-backface-visibility:     hidden;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;

			.pricing-box__features {
				color: #fff;
			}

			.pricing-box__more-features-button {
				color: #fff;
				i {
					color: #fff;
				}
			}

			.pricing-box__tooltip {
				color: hubl("$main_font_color");
			}
		}

		.pricing-box {

			&__starting-at {
				color: hubl("$second_font_color");
				padding: 0 25px 3px;
			}

			&__title {
				color: hubl("$main_font_color");
				border-bottom: 1px solid hubl("$second_font_color");
			}

			&__price {
				margin-top: 5px;
				color: hubl("$main_font_color");
			}

			&__features {
				text-align: left;
				padding: 0px 25px 15px;
				color: hubl("$main_font_color");
				p, span, li {
					color: inherit;
					font-size: 16px;
					font-weight: 400;
				}

				p {
					margin: 15px 0;
				}
			}

			&__order {
				margin-bottom: 25px;
			}

			&__more-features {
				position: relative;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility:    hidden;
				-ms-backface-visibility:     hidden;

				.pricing-box__tooltip {
					visibility: hidden;
					opacity: 0;
					position: absolute;
					z-index: 3;
					left: 40px;
					bottom: -50px;
					padding: 15px 40px;
					background-color: #fff;
					border-radius: 5px;
					border: 2px solid #efefef;
					width: 440px;
					transition: all .3s ease-in-out;

					&:before, &:after {
						content: "";
						position: absolute;
						width: 0;
						height: 0;
					}

					&:before {
						left: -31px;
						bottom: 48px;
						border-style: solid;
						border-width: 14px 30px 14px 0;
						border-color: transparent #efefef transparent transparent;
					}

					&:after {
						left: -30px;
						bottom: 50px;
						border-style: solid;
						border-width: 12.5px 30px 12.5px 0;
						border-color: transparent #ffffff transparent transparent;
					}
				}

			&.open {

				.pricing-box__tooltip {
					visibility: visible;
					opacity: 1;
				}

				.pricing-box__more-features-button {
					i.fa-plus-square {
						&:before {
							content: "\f146";
						}

					}
				}

			}

			}

				&__more-features-button {
					border: 0;
					background-color: transparent;
					font-size: 16px;
					font-family: hubl("$font");
					color: hubl("$main_font_color");
					padding: 0;
					position: relative;
					z-index: 1;

					i {
						color: hubl("$first_color");
						margin-right: 10px;
						font-size: 18px;
					}
				}
		}
	}
}



@media (max-width: 580px) {

	.pricing-box {

	&--redesign {

		.pricing-box {

			&__more-features {

				.pricing-box__tooltip {
					left: 0px;
					bottom: initial;
					top: 40px;
					max-width: 100%;

					&:before, &:after {
						display: none;
					}
				}

			}

		}
	}
	}
}


@media (max-width: 480px) {

	.pricing-box {

	&--redesign {

		.pricing-box {

			&__more-features {

				.pricing-box__tooltip {

				}

			}

		}
	}
	}
}





              