.solution-partner {
    display: flex;
    align-items: center;
    justify-content: center;
    .text-wrapper {
        flex: 1 0 55%;
    }
    .img-wrapper {
        text-align: center;
        flex: 1 0 45%;
    }
    @media (max-width: 500px) {
        flex-wrap: wrap;
        .text-wrapper, .img-wrapper {
            flex-basis: 100%;
        }
    }
}