.game-plan {
    .sm-slider-wrapper {
        margin-bottom: 0;
    }
    .game-plan-page-desc {
        padding: 75px 0 80px;
        background: #f7f7f7;
        @media screen and (max-width: 767px) {
            padding: 55px 0 40px;
            br {
                display: none;
            }
        }
        > div {
            > div {
                float: none;
            }
        }
        h2 {
            text-align: center;
            font-size: 40px;
            line-height: 42px;
            margin: 0;
            margin-bottom: 35px;
        }
        p {
            text-align: center;
            font-size: 18px;
            line-height: 24px;
            color: #959595;
        }
    }
    .game-plan-wrapper {
        .game-plan-header {
            padding: 45px 0;
            > div {
                float: none;
            }
            h3 {
                text-align: center;
                font-size: 40px;
            }
        }
        .game-plan-single {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 80px;
            @media screen and (max-width: 767px) {
                margin-bottom: 50px;
            }
            > div {
                width: 50%;
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
            .game-plan-single-image {
                text-align: center;
                // padding-top: 15px;
                padding: 15px 20px 0;
                @media screen and (max-width: 767px) {
                    padding: 25px 20px 15px;
                    order: 1;
                }
                img {
                    margin: 0 auto;
                    display: block;
                    height: 100%;
                    max-height: 220px;
                    width: auto;
                }
            }
            .game-plan-single-text {
                padding: 0 10px;
                h4 {
                    font-size: 40px;
                    margin: 0;
                }
                p {
                    font-size: 18px;
                    line-height: 24px;
                    color: #959595;
                }
            }
        }
    }
    .separator.separator--contact {
        padding: 125px 0 95px;
        @media screen and (max-width: 992px) {
            padding: 85px 0 65px;
        }
        @media screen and (max-width: 767px) {
            padding: 55px 0;
        }
        .content {
            > div {
                float: none;
            }
            h4 {
                text-align: center;
                margin: 0;
                font-size: 40px;
                @media screen and (max-width: 767px) {
                    font-size: 30px;
                }
            }
            .layout-widget-wrapper {
                > span.hs_cos_wrapper_type_text {
                    text-align: center;
                    display: block;
                    margin: 60px 0;
                    text-align: center;
                    color: #fff;
                    font-size: 28px;
                    letter-spacing: 1px;
                    @media screen and (max-width: 767px) {
                        font-size: 22px;
                        line-height: 26px;
                        margin: 40px 0;
                    }
                }
            }
            .widget-type-cta {
                text-align: center;
            }
        }
    }
}




