//--------------SLICK RESOURCES STYLES-------------
.resources-slides-wrapper {
	margin-top: 70px;
	height: 500px;
	overflow: hidden;
	.slick-slider {
		margin-bottom: 0;
	}
	button.slick-next, button.slick-prev {
		margin-top: 0;
	}
	.slick-arrow{
		@media screen and (max-width: 767px) {
		        top: 50%;
		}
	}


	.slick-dots{
        bottom: 20px;
        li{
            button{
                &:before{
                    font-size: 0px;
                    line-height: 0px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    content: '';
                    display: block;
                    width:8px;
                    height: 8px;
                    text-align: center;
                    border-radius:50%;
                    opacity: 1;
                    background: hubl("$cta_background");
                }
            }
        }
        li.slick-active{
            button{
                &:before{
                    opacity:1;
                    background: #fff;
                }
            }
        }

    }

}



//--------------RESOURCES PAGE STYLES-------------
.resources {
	.separator--yellow {
		.widget-type-cta {
			.cta_button {
				float: right;
				margin-top: 17px;
    			padding: 10px 40px;
				
			}
		}
	}
	.resource{

		&__title{
			color: #333333;
		}
		&__description{
			color: #959595;
			font-weight: 200;
		}
		&__effects-wrapper {
			width: 236px;
			height: 335px;
			box-shadow: 6px 6px 0 #c0c3c5;
    	}
    	&__details{
    		min-height: 162px;
    		@media screen and (min-width:0\0) {
				height: 162px;
			}
    	}
	}

	 
	.separator--contact {
		min-height: 306px;
		background-position: center center;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px;
		@media screen and (min-width:0\0) {
			height: 306px;
		}
		.content{
			padding: 40px 15px;
			h4{
				margin-top: 15px;
				margin-bottom: 54px;
				font-size: 46px;
				font-weight: 500;
			}
			.widget-type-cta {
				text-align: center;
				.cta_button {

					margin: 0 auto;
						letter-spacing: 2px;
						padding: 14px 52px;
					
				}
			}
		}
	}
}