html {
  body {
    .subscription-pages {
      .page-header {
        margin-bottom: 60px;
      }
    }
    .row-fluid {
      .subscription-pages {
        // margin: 160px 0 150px;
      }
      .subscription-preferences {
        margin: 160px 0 150px;
      }
      .backup-unsubscribe {
        margin: 100px 0 150px;
      }
      .subscriptions-update {
        margin: 200px 0 150px;
      }
    }
  }
}
.subscription-preferences {
  .email-prefs .item .item-inner p {
    text-align: left;
  }
  &.widget-type-email_subscriptions h1 {
    font-size: 42px;
    color: hubl("$main_font_color");
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
  }
  &.widget-type-email_subscriptions h2 {
    font-size: 22px;
    line-height: 25px;
    color: #626262;
    font-weight: 300;
    margin: 0;
  }
  &.widget-type-email_subscriptions p {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    color: #626262;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
  }
  &.widget-type-email_subscriptions p.header {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
  }

  .checkbox-row input {
    top: 5px;
  }

  .email-prefs {
    // display: none;
    .item:first-child {
      margin-top: 0;
    }
  }
  #submitbutton {
    display: block;
    margin: 50px auto 0;
    background-color: hubl("$cta_background");
    border: 2px solid hubl("$cta_background");
    color: hubl("$cta_color");
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;


    &:hover {
        background-color: hubl("$cta_hover_background");
        border: 2px solid hubl("$cta_background");
        color: hubl("$cta_hover_color");
        -webkit-appearance: none;
    }
  }

}

.backup-unsubscribe {
  text-align: center;
  .subscription-pages {
    .page-header {
      margin-bottom: 0;
    }
  }

  .email-edit {
    border: 1px solid hubl("$second_font_color");
    max-width: 100%;
  }

  &.widget-type-email_subscriptions h3 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
  }
  #submitbutton {
    display: block;
    margin: 50px auto 0;
    background-color: hubl("$cta_background");
    border: 2px solid hubl("$cta_background");
    color: hubl("$cta_color");
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;


    &:hover {
        background-color: hubl("$cta_hover_background");
        border: 2px solid hubl("$cta_background");
        color: hubl("$cta_hover_color");
        -webkit-appearance: none;
    }
  }
}

.subscriptions-update.widget-type-email_subscriptions_confirmation {
  text-align: center;
  .page-header h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
  }
  p {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 18px;
    font-weight: 200;
    font-family: hubl("$font");
  }
  #content {
    font-size: 20px;
  }
}

