
.equal-content {
	.equal-border{
	width: 95%;
	height: 1px;
	background-color: #f7f7f7;
	margin: 30px auto 53px auto;
	}
}


.two-column-left-content {
	margin-bottom: 0;
}
.equal-row {
	margin: 0 auto;
	float: none;
	padding: 30px 0;
	.equal-text-right {
		margin-top: 30px;
	}

	.right-img{
		padding: 0;
		text-align: right;
	}
	.widget-type-rich_text--standard p {
		color: #959595;
	}

	.left-img{
		padding: 0;
		text-align: left;

	}
	.hs_cos_wrapper_type_rich_text ul li {
		margin-bottom: 15px;
		&:before {
			content: "\f00c";
		    font-family: FontAwesome;
		    color: #e1182f;
		    position: absolute;
		    background-image: none;
		    background-position: center;
		    left: -30px;
		    top: 3px;
		}
	}
	&.equal-row-bg-grey {
		background: #f7f7f7;
		> span {
			float: none;
		}
		.img-wrap-basic img {
			box-shadow: -30px 30px 0px #e1182f;
		}

	}
}
.equal-text-right{
	padding-left: 20px;

}
.equal-text-left{
	padding-right: 20px;

}
@media only screen and (max-width : 768px) {
	.equal-row {
		.img-wrap-basic{
			padding: 0;
			text-align: center;
			margin-right: 15px;

		}

	}
}

.two-column-equal {
    padding-right: 0px;
}
