// MOBILE -- MOVING FORM FROM HERO BANNER TO FORM CONTAINER UNDER BANNER !
.landing-basic-2 {
    .row-fluid [class*="span"] {
        @media (max-width: 800px) {
            float: none;
        }
    }
    .form-container { 
        margin: 25px 0;
        .hero-banner-form {
            z-index: 1;
            max-width: 430px;
            border-radius: 5px;
            background-color: #f4f4f4;
            padding: 0 30px;
            margin: 0 auto;
            .hs-error-msgs {
                list-style-type: none;
                margin-top: 5px;        
                label {
                  font-size: 14px; 
                }
            }
            h3 {
                font-family: hubl("$font");
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: hubl("$main_font_color");
                text-align: center;
                span {
                  color: hubl("$cta_background");
                  margin-left: 2px;
                  position: relative;
                  letter-spacing: 3px;
                  
                }
            }
            .hs-form-field {
                margin-bottom: 20px;
                box-shadow: none;
                .hs-form-required { 
                    display: none; 
                }
                .input {
                    input {
                        border: none;
                        border-radius: 4px;
                        background-color: #ffffff;
                    }    
                    .hs-input {
                        font-size: 18px;
                        font-family: hubl("$font");
                        font-weight: 200;
                        color: hubl("$main_font_color");
                        height: 55px;
                        border: none;
                        &[id*="dropdown_example"] {
                            color: rgba(98,98,98,0.6);
                            background-color: #fff;
                        } 
                    }                    
                }
            }
                 textarea{
        border-radius: 4px;
      }  
                      select {
                    color: rgba(98, 98, 98, 0.6);
                    background-color: #fff;
                    outline: none;
                    appearance: none;
                }
                                    input[type="checkbox"].hs-input{
                        height:25px!important;
                    }
                    input[type="radio"].hs-input{
                        height:25px!important;
                    }
      .hs-form-checkbox-display span{
        color: hubl("$main_font_color")
      }
            .hs-button.primary.large {
                   @extend .cta-primary;
                min-height: 27px;
                min-width: 134px;
                padding-top: 20px;
                padding-bottom: 20px;
                font: 300 22px / 22px hubl("$font");            
                margin-bottom: 20px;
                width: 100%;
                /*
                cursor: pointer;
                background-color: $mainColor;
                border-radius: 4px;
                min-height: 27px;
                min-width: 134px;
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #ffffff;
                font: 300 22px / 22px Palanquin;
                transition: linear 0.3s all;
                border: none;              
                margin-bottom: 20px;
                &:hover {
                    background-color: #fff;
                    color: $mainColor;
                }*/
            }
        }
    }
    .hero-banner-wrap {
        @media (max-width: 800px) {
            width: 100%;
        }
    }
    .body-container-wrapper {
        min-height: calc(100vh - 219px); /* Header + footer */
    }
}