.growth-driven {
    .hero-banner {
        h1 {
            font-weight: 500;
        }
    }
    .heading-section {
        padding: 50px 0;
        .img-wrap {
            text-align: center;
        }
        .widget-type-rich_text {
            .cta_button{
                margin-top: 20px;
            }
        }
    }
    .grey-bg-image-section {
        text-align: center;
        padding: 40px 0 20px;
        background-color: #f7f7f7;
        .img-wrap {
            >div {
                margin: 0 auto;
                max-width: 720px;
            }
        }
    }
    .features-box--wrapper {
        .heading-features {
            text-align: center;
            margin: 0 auto;
            h2 {
                text-transform: none;
                font-weight: 300;
            }
            .widget-type-rich_text {
                padding-bottom: 80px;
                p {
                    max-width: 700px;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
        .featured-box-white-bg {
            padding-top: 70px;
            border-top: none;
            .square-box {
                padding: 25px 15px;
                &__image-container {
                    background-color: transparent;
                    img {
                        height: auto;
                        max-width: 100%;
                    }
                }
                &__content {
                    h4 {
                        color: hubl("$main_font_color");
                        font-weight: 500;
                    }
                    p {
                        color: hubl("$second_font_color");
                    }
                }
            }
        }
    }
    &.solution-partners {
        .banner-bottom {
            padding-top: 45px;
            padding-bottom: 0;
            @media(max-width: 900px) {
                padding: 40px 0;
                .img-wrapper {
                    display: none;
                }
                .text-banner {
                    width: auto;
                    max-width: 100%;
                }
            }
            >.span12.widget-span.widget-type-cell {
                position: relative;
                .text-banner {
                    text-align: left;
                    h2 {
                        margin: 20px 0;
                        text-align: left;
                        max-width: 100%;
                        font-size: 40px;
                        line-height: 44px;
                        span {
                            color: #fff;
                            font-weight: 400;
                        }
                    }
                    .row-fluid-wrapper.row-depth-1.row-number-20 {
                        margin-top: 25px;
                        .row-fluid {
                            display: flex;
                            @media (max-width: 450px) {
                                flex-wrap: wrap;
                                .widget-type-cta {
                                    margin-top: 15px;
                                }
                            }
                        }
                        .widget-type-cta {
                            min-width: 180px;
                            margin-right: 20px;
                            max-width: 250px;
                        }
                    }
                }
            }
        }
    }
}