.products-page.testimonial-page.redesign.sr-two-col {
    .txt-images-heading {
        &.white {
            background-color: #fff;
            padding-top: 0;
            padding-bottom: 60px;
            p {
                font-size: 18px;
            }
        }
    }
    .lead-section.right {
        .hs-cta-wrapper {
            float: right;
        }
    }
    .serivce-section {
        padding: 80px 0;
        background-color: #f7f7f7;
        h2 {
            text-align: left;
            font-weight: 200;
            text-transform: none;
        }
        .span6 {
            width: 100%;
            .feature {
                padding-bottom: 45px;
                .span2 {
                    max-width: 100px;
                }
                .span10 {
                    width: calc(100% - 100px);
                    margin-left: 0;
                }
                h3 {
                    font-size: 20px;
                    margin-top: 0;
                }
                .content {
                    color: hubl("$second_font_color");
                }
                @media (max-width: 767px) {
                    .span10 {
                        width: 100%;
                        h3 {
                            text-align: center;
                        }
                    }
                    .span2 {
                        text-align: center;
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            padding: 40px 0;
        }
    }
    .blog-email-subscription {
        margin-bottom: 90px;
        @media (max-width: 767px) {
            margin-bottom: 45px;
        }
    }
    .bottom-page {
        padding: 60px 0 80px;
        background-color: #f7f7f7;
        h2 {
            text-transform: none;
            font-weight: 400;
            text-align: left;
        }
        h3 {
            &.centered {
                text-align: center;
                text-transform: none;
                font-weight: 400;
                color: #959595;
            }
        }
        @media (max-width: 767px) {
            padding: 30px 0 40px;
        }
    }
    .brands-slider-wrap {
        h2 {
            text-transform: none;
            font-weight: 400;
        }
    }

}
.redesign {
    .two-image-wrapper {
        display: flex;
        justify-content: space-around;
        text-align: center;
        h4 {
            font-size: 20px;
            text-align: center;
        }
        .img-left,
        .img-right {
            padding: 10px 20px;
        }
        @media (max-width: 550px) {
            flex-wrap: wrap;
        }
    }
    .bottom-page {
        padding: 60px 0 80px;
        background-color: #f7f7f7;
        h2 {
            text-transform: none;
            font-weight: 400;
            text-align: left;
        }
        h3 {
            &.centered {
                text-align: center;
                text-transform: none;
                font-weight: 300;
            }
        }
        @media (max-width: 767px) {
            padding: 30px 0 40px;
        }
    }
    .video-module {
        height: 500px;
        #video_module1 {
            position: absolute;
            top: -50%;
            left: 0;
        }
    }
}
