.redesign {

	.widget-type-header {
		&--home {
			h2 {
				font-weight: 400;
			}
		}
	}

	.home-contact-section {
		h3 {
			color: #fff;
		}

		.widget-type-rich_text {

			a, p, span {
				font-size: 18px;
			}
		}
	}

	.lead-section {
		padding-bottom: 70px;

		&__image-wrapper {
			text-align: center;

			img {
				margin-bottom: 30px;
			}

			&--left {
				padding-right: 15px;
				img {
					box-shadow: -30px 30px 0 hubl("$first_color");
				}
			}
		}
	}

	.brands-slider-wrap {
		margin-top: 40px;
		margin-bottom: 30px;

		.slick-arrow{
			opacity: 0;
		}

		.slick-dots {

		    li{
		    	button:before{
		    	}
		    	&.slick-active{
					button:before{
					color: hubl("$main_font_color");
					}

		    	}
		    }
		}
	}
}