.homepage.redesign {

	#main_section {
		margin-top: 40px;
	}

	.features {
		margin-bottom: 20px;

		h2 {
			font-weight: 400;
		}
	}

	.portfolio { 

		h2 {
			text-align: left;
		}

		.widget-type-cta {
			text-align: right;
		}
	}

	.testimonials {

		h2 {
			font-weight: 400;
			text-transform: none;
		}
	}

	.boxes {
		& > .span12 {
			& > .row-fluid-wrapper {
				& > .row-fluid {
					display: flex;

					.widget-span {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}

}

@media (max-width: 767px) {

.homepage.redesign {

	.boxes {
		& > .span12 {
			& > .row-fluid-wrapper {
				& > .row-fluid {
					display: block;

					.widget-span {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}

	.portfolio { 

		.widget-type-cta {
			text-align: center;
			margin-bottom: 40px !important;
		}
	}

}
}