.pricing-1.redesign {

	.body-container-wrapper {

	}
.footer-container-wrapper {
	// display: none;
}
	.brands-slider__section {
		background-color: #cccccc;
	}
	.pricing-section-header {
		.widget-type-rich_text {
			> .layout-widget-wrapper { 
				> span {
					color: hubl("$second_font_color");
				}
			}
		}
	}

	.pricing-main-section {
	}

	.pricing-box__container {

		.widget-span { 
			.hs_cos_wrapper_widget_container {
				padding-top: 100px;
			}
		}
	}
}