.products-page.testimonial-page.redesign {
    .logo-group .span12.widget-type-widget_container > span {
        padding: 50px 0;
        @media (max-width: 767px) {
            padding: 25px 0;
        }
    }
    .logo-group .span12.widget-type-widget_container > span > div {
        // width: 265px;
        img {
            max-width: 100%;
            padding: 20px 0;
        }
    }
    .lead-section {
    	padding-top: 0;
        .widget-type-header--home {
            margin-bottom: 40px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
    .text-and-image-overflow {
        padding: 70px 0;
        .container-fluid .image-wrapper {
            padding-top: 35px;
            img {
                max-width: 400px;
                max-height: 350px;
                height: auto;
                width: auto;
                @media (max-width: 1100px) {
                    max-width: 100%;
                }
                // @media (max-width: 455px){ 
                //     max-width: 300px;
                // }
            }
        }
        .text-wrapper {
        	p {
        		color: hubl("$second_font_color");
        	}
        }
    }
    .txt-images-heading {
        background-color: #f7f7f7;
        padding-top: 60px;
        h2 {
            text-transform: none;
            font-size: 40px;
            font-weight: 200;
            color: #333333;
        }
        p {
            text-align: center;
            color: hubl("$second_font_color");
            font-size: 20px;
        }
    }
    .featured-box-white-bg {
        margin-top: 20px;
        .square-box {
        	padding-top:0;
        	padding-bottom: 0;
            &__image-container {
                background-color: #fff;
            }
            &__content {
            	h4 {
            		color: #333;
            		font-weight: 500;
            	}
            }
        }
    }
    // .brands-slider {
    // 	.slick-slide {
    // 		height: 200px;
    // 		position: relative;
    // 		img {
    // 			position: absolute;
    // 			max-width: 180px;
    // 			height: auto;
    // 			margin: auto;
    // 			top: 50%;
    // 			left: 50%;
    // 			transform: translate(-50%, -50%);
    // 		}
    // 	}
    // }
    .client-text {
        color: hubl("$second_font_color");
        font-size: 18px;
    }
}
