.solution-partners {
    .heading-section {
        @media (max-width: 767px) {
            .img-wrap {
                margin: 0 auto;
                text-align: center;
            }
        }
        h2 {
            text-align: left;
            text-transform: none;
            font-weight: 300;
        }
    }
    .solution-partner-wrapper {
        padding: 30px 0 70px;
        >span {
            display: flex;
            flex-wrap: wrap;
            >div {
                width: 50%;
                &:nth-child(odd) {
                    padding-right: 1%;
                }
                &:nth-child(even) {
                    padding-left: 1%;
                }
                @media (max-width: 767px) {
                    width: 100%;
                    &:nth-child(odd) {
                        padding-right: 0;
                    }
                    &:nth-child(even) {
                        padding-left: 0;
                    }
                }
            }
            @media (max-width: 767px) {
                flex-direction: column;
            }
        }
    }
    .banner-bottom {
        position: relative;
        padding: 90px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .text-banner {
            position: relative;
            z-index: 99;
            text-align: center;
            h2 {
                color: #fff;
                max-width: 550px;
                font-weight: 300;
                text-transform: none;
                margin: 20px auto 40px;
            }
        }
    }
}