.hero-banner-portfolio{
    width: 100%;
    height: 500px;
    margin-top: 70px;
    background-position: center center!important;
    background-size: cover!important;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .mask{
        position: absolute;
        top:0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, .36);
    }
    .content{
        z-index: 2;
        width: 80%;
        text-align: center;
        h1{
            color: #fff;
            font-size: 58px;
            text-transform: uppercase;
            @media only screen and (max-width : 400px) {
                font-size: 48px; 
            }         
        }
        p{
            color: #fff;
            font-size: 20px !important;
            font-weight: 200 !important;
            margin: 26px 0px 42px 0px;
        }
    }
}







