.hero-banner-portfolio-footer{
    width: 100%;
    height: 475px;
    background-position: center center!important;
    background-size: cover!important;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    .mask{
        position: absolute;
        top:0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, .36);
    }
    .content{
        position: absolute;
        top:50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%,-50%);
        text-align: center;
        h3{
            color: #fff;
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.095em;
        }
        p{
            color: #fff;
            font-size: 18px !important;
            font-weight: 200 !important;
            margin: 52px 0px 42px 0px;
        }
        .cta-hero-portfolio{

        }
    }
}



