section.loading-circle {
    .circle {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        .timer tspan {
            font-family: hubl("$font");
        }
        svg {
            margin: -20%;
        }
    }
    h3 {
        color: #fff;
        font-weight: 300;
        font-size: 25px;
        margin: 35px 0px 55px 0px;
        text-align: center;
    }
}

// IE 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .homepage .skills .loading-circle .circle svg {
        transform: scale(1.4);
    } 
}
// EDGE
@supports (-ms-ime-align:auto) { 
    .homepage .skills .loading-circle .circle svg {
        transform: scale(1.4);
    } 
}
