// Overwrite default styles
.mfp-close-btn-in .mfp-close {
    color: #fff !important;
}
.mfp-container {
    .mfp-content {
        max-width: 500px;
        padding-top: 30px;
        > span {
            > div {
                max-width: 470px;
            }
        }

        // VIDEO
        .video-popup-wrapper {
            .video-popup {
                source {

                }
            }
        }
        p {
            color: #fff;
            text-align: center;
            margin: 0;
        }
        // FORM
        // .widget-type-form {
            .form-title {
                font-size: 33px;
                font-weight: bold;
                text-align: left;
                margin: 0px 0 25px 0;
                color: hubl("$cta_background");
            }
            form .hs-form-required {
                display: none;
                form input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    font-weight: 300;
                    border: solid 1px #d6d5d5;
                    margin-top: 8px;
                    color: initial;
                    font-family: hubl("$font"), sans-serif;
                }
            }
            .hs-form-field {
                margin-bottom: 15px;
            }
            form input.hs-button {
                @extend .cta-primary;
            }
            form select {
                background-color: #333333;
                border: 0;
                outline: 0;
                font-size: 16px;
                font-weight: 300;
                border-bottom: solid 1px #fff;
                color: #fff;
                margin-top: 19px !important;
                font-family: hubl("$font"), sans-serif;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin-top: 0px;
                border-radius: 0;
                background-image: url('//cdn2.hubspot.net/hubfs/309194/Assets_MS/angle-down.png');
                background-repeat: no-repeat;
                background-position-x: 98%;
                background-position-y: 64%;
            }
            form textarea {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 18px;
                font-weight: 300;
                border: solid 1px #d6d5d5;
                color: initial;
                margin-top: 8px;
                font-family: hubl("$font"), sans-serif;
                min-height: 130px;
            }
            form ul li {
                list-style-type: none;
                color: #fff;
            }
            form ul li.hs-form-checkbox {
                color: hubl("$main_font_color");
            }
            form ul li.hs-form-booleancheckbox {
                color: hubl("$main_font_color");
            }
            label {
                span {
                    color: #fff;
                }
                position:relative;
            }

            h3 {
                font-size: 33px;
                font-weight: bold;
                text-align: left;
                margin: 65px 0 25px 0;
                color: hubl("$cta_background");
            }
            form .hs-form-required {
                display: none;
            }
            .home-contact-section .widget-type-form label {
                color: #fff;
            }
            form input {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 300;
                border-bottom: solid 1px #fff;
                color: #fff;
                font-family: hubl("$font"), sans-serif;
            }
            form input[type="submit"] {
                border-bottom: none;
                font-size: 18px;
            }
            form input.hs-button {
                @extend .cta-primary;
            }
            form textarea {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 300;
                border-bottom: solid 1px #fff;
                color: #fff;
                margin-top: 38px;
                font-family: hubl("$font"), sans-serif;
                min-height: 130px;
            }
            form ul li {
                list-style-type: none;
            }
        // }


    }
}

















