//--------------RESOURCES SLIDE STYLES-------------




.resources-slide {
	float: left;
	width: 100%;
	.slide-img {
		height: 500px;
		font-weight: 300;
		position: relative;
		margin-bottom: 0;
		top: 0;
		float: left;
		width: 100%;
		background-size: cover!important;
		.mask {
			position: absolute;
			background: rgba(0,0,0,0.36);
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}
		.slide-content {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: #fff;
			z-index: 99;
			padding: 0px 15px;
			h2 {
				font-weight: 500;
				color: #fff;
				font-size: 58px;
				@media screen and (max-width: 350px) {
			       font-size: 48px;
			    }
				span {
					color: hubl("$cta_background");
				}
			}
			p {
				font-size: 20px;
				text-align: center;
			}
		}
	}
}